@model PagedList.IPagedList<Aukcija.Models.Bid>
@using PagedList.Mvc

@{
    ViewBag.Title = "Won Auctions";
}

<h2>Auctions Won</h2>

<hr />

@if (Model != null)
{
    if (Model.Count() == 0)
    {
        <p class="text-center text-danger" style="font-size:160%;">
            You haven't won any auction yet!
        </p>
    }
    else
    {
        <div class="card-columns">
            @foreach (var item in Model)
            {
                <div class="card" style="max-width:319px;">
                    <img src="@Url.Content(item.Auction.Image.Path)" class="card-img-top" alt="@item.Auction.Image.Name" />
                    <div class="card-body text-center">
                        <h4 class="card-title">@Html.ActionLink(item.Auction.Name, "Details", "Auctions", new { id = item.Auction.GUID }, null)</h4>
                        <h4 class="card-subtitle text-danger"><b>@(((DateTime)item.Auction.Closed).ToString("MM/dd/yyyy HH:mm:ss"))</b></h4>
                        <h5 class="card-subtitle text-success mt-2">@item.Auction.CurrentP.ToString("0.##") @item.Auction.Currency</h5>
                        <p class="text-muted mt-3">@item.AspNetUsers.Email</p>
                    </div>
                </div>
            }
        </div>
    }
}

<hr />

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)